{% extends "base_logged_in.html" %}

{% load custom_filters %}
{% block content %}

<div class="container p-5 mt-4 pt-0">
    <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    <h1>Start a New Optimization Task</h1>
    <div class="row my-1 mb-2">
        <div>Please select or upload a model - If a model is uploaded, selected model will be ignored. Same applies to the dataset.</div>
        <div>The process will start only when both a model and dataset is selected/uploaded.</div>
    </div>

    <div class="row row-cols-3">
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step1 Option1 - Select a Model</div>
                {% if private_model_list %}
                <fieldset class="mt-1 mb-1">
                    {% for model in private_model_list %}
                    <div class="form-check bg-body-tertiary rounded border border-light-subtle shadow-sm ">
                        <label class="form-check-label p-1" for="id_model_{{ model.id }}">
                            <input class="form-check-input" type="radio" name="model_id" value="{{ model.id }}" id="id_model_{{ model.id }}" required
                                {% if model.id == chosen_model.id %}
                                    checked
                                {% endif %}
                            >
                            <a class="text-smd text-start" temphref="url 'polls:private-model-data-view/?page=' data.id" href="#" role="button">
                                <span class="text-sm">{{ model.name }}</span>                             
                            </a>
                            <div>
                                <span class="text-body-secondary text-sm">{{ model.user.username }}</span> 
                                <span class="text-body-secondary text-sm">• {{ model.updated|timesince|upto }} ago</span>
                                <span class="text-body-secondary text-sm">• private</span>                                
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
                {% endif %}
                {% if public_model_list %}
                <fieldset class="mt-1 mb-1">
                    {% for model in public_model_list %}
                    <div name="choose_model_button" value="choose_model" class="form-check bg-body-tertiary rounded border border-light-subtle shadow-sm">
                        <label class="form-check-label p-1" for="id_model_{{ model.id }}">
                            <input class="form-check-input" type="radio" name="model_id" value="{{ model.id }}" id="id_model_{{ model.id }}" required 
                                {% if model.id == chosen_model.id %}
                                    checked
                                {% endif %}
                            >
                            <a class="text-smd text-start" temphref="url 'polls:private-model-data-view/?page=' data.id" href="#" role="button">
                                <span class="text-sm">{{ model.name }}</span>
                            </a>
                            <div>
                                <span class="text-body-secondary text-sm">{{ model.user.username }}</span> 
                                <span class="text-body-secondary text-sm">• {{ model.updated|timesince|upto }} ago</span>
                            </div>                    
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
                {% else %}
                    <p>No models are available.</p>
                {% endif %}
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step1 Option2</div>
                <div class="mb-1">
                    <label for="form_model_folder" class="form-label">Upload Model</label>
                    <input type="file" name="form_model_folder" id="form_model_folder" class="form-control mb-1" webkitdirectory directory mozdirectory multiple>
                    <input type="text" id="model_folder_directories" name="model_folder_directories" hidden/>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" name="model_name" id="id_model_name" class="form-control" placeholder="">
                    <label for="id_model_name">Name</label>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" name="model_type" class="form-control" id="floatingModeltype" placeholder="TypeOneNet" maxlength="320" required>
                    <label for="floatingModeltype">Model Type</label>
                </div>
                
                <fieldset>
                    <div class="form-check">
                        <label class="form-check-label" for="id_model_is_public_1">
                            <input class="form-check-input" type="radio" name="model_is_public" value="2" id="id_model_is_public_1" required checked>
                            public
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="id_model_is_public_0">
                            <input class="form-check-input" type="radio" name="model_is_public" value="1" id="id_model_is_public_0" required>
                            private
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step2 Option1 - Select a Dataset</div>
                {% if chosen_model and not dataset_options %}
                    <div>No Datasets are found for your chosen model.</div>
                    <div>Showing public datasets and your private datasets:</div>
                {% endif %}
                {% if private_dataset_list and not dataset_options %}
                <fieldset class="mt-1 ">
                    {% for dataset in private_dataset_list %}
                    <div class="form-check bg-body-tertiary rounded border border-light-subtle shadow-sm ">
                        <label class="form-check-label p-1" for="id_dataset_{{ dataset.id }}">
                            <input class="form-check-input" type="radio" name="dataset_id" value="{{ dataset.id }}" id="id_dataset_{{ dataset.id }}" 
                                {% if dataset.id == chosen_dataset.id %}
                                    checked
                                {% endif %}
                            >
                            <a class="text-smd text-start" temphref="url 'polls:private-dataset-data-view/?page=' data.id" href="#" role="button">
                                <span class="text-sm">{{ dataset.name }}</span> 
                            </a>
                            <div>
                                <span class="text-body-secondary text-sm">{{ dataset.user.username }}</span> 
                                <span class="text-body-secondary text-sm">• {{ dataset.updated|timesince|upto }} ago</span>
                                <span class="text-body-secondary text-sm">• private</span>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
                {% endif %}
                {% if public_dataset_list and not dataset_options %}
                <fieldset class="mt-1 mb-1">
                    {% for dataset in public_dataset_list %}
                    <div class="form-check bg-body-tertiary rounded border border-light-subtle shadow-sm ">
                        <label class="form-check-label p-1" for="id_dataset_{{ dataset.id }}">
                            <input class="form-check-input" type="radio" name="dataset_id" value="{{ dataset.id }}" id="id_dataset_{{ dataset.id }}" 
                                {% if dataset.id == chosen_dataset.id %}
                                    checked
                                {% endif %}
                            >
                            <a class="text-smd text-start" temphref="url 'polls:private-dataset-data-view/?page=' data.id" href="#" role="button">
                                <span class="text-sm">{{ dataset.name }}</span> 
                            </a>
                            <div>
                                <span class="text-body-secondary text-sm">{{ dataset.user.username }}</span> 
                                <span class="text-body-secondary text-sm">• {{ dataset.updated|timesince|upto }} ago</span>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
                {% elif not public_dataset_list %}
                    <p>No datasets are available.</p>
                {% endif %}            
                {% if dataset_options %}
                <div>Datasets for Model:
                    <a class="text-smd text-start" temphref="url 'polls:private-dataset-data-view/?page=' data.id" href="#" role="button">
                        <span class="text-sm">{{ chosen_model.name }}</span> 
                    </a>
                    <span class="text-body-secondary text-sm">• {{ chosen_model.user.username }}</span> 
                </div>
                <fieldset class="mt-1 mb-1">
                    {% for dataset in dataset_options %}
                    <div class="form-check bg-body-tertiary rounded border border-light-subtle shadow-sm ">
                        <label class="form-check-label p-1" for="id_dataset_{{ dataset.id }}">
                            <input class="form-check-input" type="radio" name="dataset_id" value="{{ dataset.id }}" id="id_dataset_{{ dataset.id }}">
                            <a class="text-smd text-start" temphref="url 'polls:private-dataset-data-view/?page=' data.id" href="#" role="button">
                                <span class="text-sm">{{ dataset.name }}</span> 
                            </a>
                            <div>
                                <span class="text-body-secondary text-sm">{{ dataset.user.username }}</span> 
                                <span class="text-body-secondary text-sm">• {{ dataset.updated|timesince|upto }} ago</span>
                                <span class="text-body-secondary text-sm">• private</span>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>            
                {% endif %}
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step2 Option2</div>
                <div class="mb-1">
                    <label for="form_dataset_folder" class="form-label">Upload Dataset</label>
                    <input type="file" name="form_dataset_folder" id="form_dataset_folder" class="form-control mb-1" webkitdirectory directory mozdirectory multiple>
                    <input type="text" id="dataset_folder_directories" name="dataset_folder_directories" hidden/>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" name="dataset_name" id="id_dataset_name" class="form-control" placeholder="">
                    <label for="id_dataset_name">Name</label>
                </div>

                <fieldset>
                    <div class="form-check">
                        <label class="form-check-label" for="id_dataset_is_public_1">
                            <input class="form-check-input" type="radio" name="dataset_is_public" value="2" id="id_dataset_is_public_1" required checked>
                            public
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="id_dataset_is_public_0">
                            <input class="form-check-input" type="radio" name="dataset_is_public" value="1" id="id_dataset_is_public_0" required>
                            private
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step3</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Option A
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option B
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option C
                    </label>
                </div>
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step4</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option A
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option B
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option C
                    </label>
                </div>
            </div>
        </div>
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step5</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option A
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option B
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option C
                    </label>
                </div>
            </div>
        </div>     
        <div class="col p-0 pe-1 pb-1">
            <div class="p-1 rounded border border-light-subtle h-100">
                <div>Step6</div>
                <div>Meta Options</div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option A
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option B
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Option C
                    </label>
                </div>
            </div>
        </div>
    
        <div>
            {% if chosen_model %}
            <button type="submit" class="btn btn-primary ">
                <a href_="/polls/human-reinforced-feedback/" class="m-0 p-0 px-0 text-white align-middle link-dark link-underline-dark link-underline-opacity-0">
                    <span class="ms-0 m-0 p-0 d-none d-sm-inline">
                        {% if chosen_model and not dataset_options %}
                            Choose Model
                        {% else %}
                            Start Process
                        {% endif %}
                    </span>
                </a>
            </button>
            {% elif not chosen_model %}
            <button type="submit" class="btn btn-outline-secondary btn-sm" name="_" value="{{ model.id }}">choose</button>
            {% endif %}
        </div>
    </form>
    <script>
        function add_directories_of_uploaded_folder(folder_form_id, folder_directories_id) {
            files = document.querySelector(folder_form_id).files;
            document.querySelector(folder_form_id).addEventListener("change", function() {
                files = document.querySelector(folder_form_id).files;
                var directories = {}
                for (var file of files) {
                    file.webkitRelativePath
                    directories[file.name] = file.webkitRelativePath            
                }
                directories = JSON.stringify(directories);
                
                document.querySelector(folder_directories_id).value = directories
            });
        }

        add_directories_of_uploaded_folder("#form_model_folder", "#model_folder_directories")
        add_directories_of_uploaded_folder("#form_dataset_folder", "#dataset_folder_directories")
    </script>
    

    </div>
</div>



{% endblock content %}
